/* ==UserStyle==
@name           github.com - Feb 2024
@namespace      github.com/o new 
@version        1.0.0
@description    This user style will apply the google chivo font to everything page you visit 
                I have made some changes in it 
                this will not change the following 
                    - monospace font
                    - icons --> this theme is set up to ignore icons and dont mess up icons on most websites 
@author         heybilalazhar@gmail.com
==/UserStyle== */



@-moz-document domain("github.com") {

	
	:root{
    /* 0 is for darkest 
    1 is for hard 
    higher values for hard  */


    /* 2.1 Dark theme color variables */
    --bg0-dh:       #1d2021;
    --bg1-dark:       #3c3836;
    --bg-dark:        #282828;
    --bg2-dark:       #504945;
    --bg3-dark:       #665c54;
    --bg4-dark:       #7c6f64;
    --bg5-dark:       #928374;
    --bg_visual:      #503946;
    --bg_red:         #cc241d;
    --bg_green:       #98971a;
    --bg_blue:        #458588;
    --bg_yellow:      #d79921;
    --shadow:         #16181a;
    --shadow-var1:         #17191b;
    --shadow-cur:         #1a1b1d;

    --fg-dark:        #ebdbb2;
    --grey0-dark:     #7f897d;
    --grey1-dark:     #859289;
    --grey2-dark:     #9aa79d;

    --faded-red:     #fb4934;
    --faded-orange:  #fe8019;
    --faded-yellow:   #fabd2f;
    --faded-green:   #b8bb26;
    --faded-aqua:    #8ec07c;
    --faded-blue:    #83a598;
    --faded-purple:  #d3869b;

    --dim-red:       #cc241d;
    --dim-orange:    #d65d0e;
    --dim-yellow:    #d79921;
    --dim-green:     #98971a;
    --dim-aqua:      #689d6a;
    --dim-blue:      #458588;
    --dim-purple:    #b16286;


    /* 2.2 Light theme color variables */
    --bg0-light:     #f0edd8;
    --bg1-light:     #f6f1dd;
    --bg-light:      #fdf6e3;
    --bg2-light:     #f3efda;
    --bg3-light:     #edead5;
    --bg4-light:     #e4e1cd;
    --bg5-light:     #dfdbc8;
    --grey0-light:   #a4ad9e;
    --grey1-light:   #939f91;
    --grey2-light:   #879686;
    --shadow-light:  #3c474d20;


    --text-offwhite: #fbf1c7;
    --text-offyellowish: #f2e5bc;
    --text-white: #f9f5d7;
    --text-offwhite-faded: #ebdbb2;
    --text--faded: #d5c4a1;
    --text--veryfade: #928374;

    

    



    --bg_visual_light:      #eaedc8;
    --bg_red_light:         #fbe3da;
    --bg_green_light:       #f0f1d2;
    --bg_blue_light:        #e9f0e9;
    --bg_yellow_light:      #faedcd;

    --fg-light:       #5c6a72;

    --light-red:     #f85552;
    --light-orange:  #f57d26;
    --light-yellow:  #bf983d;
    --light-green:   #899c40;
    --light-aqua:    #569d79;
    --light-blue:    #5a93a2;
    --light-purple:  #b87b9d;

    --light-dim-red:    #f1706f;
    --light-dim-orange: #f39459;
    --light-dim-yellow: #e4b649;
    --light-dim-green:  #a4bb4a;
    --light-dim-aqua:   #6ec398;
    --light-dim-blue:   #6cb3c6;
    --light-dim-purple: #e092be;



 --dark-red: #9d0006;    /* faded_red: #9d0006 [red] 88 [9] 157-0-6 137-0-9 #890009 */
  --dark-green: #79740e;  /* faded_green: #79740e [green] 100 [10] 121-116-14 102-98-13 #66620d */
  --dark-yellow: #b57614; /* faded_yellow: #b57614 [yellow] 136 [11] 181-118-20 165-99-17 #a56311 */
  --dark-blue: #076678;   /* faded_blue: #076678 [blue] 24 [12] 7-102-120 14-83-101 #0e5365 */
  --dark-purple: #8f3f71; /* faded_purple: #8f3f71 [purple] 96 [13] 143-63-113 123-43-94 #7b2b5e */
  --dark-aqua: #427b58;   /* faded_aqua: #427b58 [aqua] 66 [14] 66-123-88 53-106-70 #356a46 */
  --dark-orange: #af3a03;


/* light colors */
  --interface-light0-hard: #f9f5d7; /* light0_hard: #f9f5d7 [h0] 230 [ ] 249-245-215 248-244-205 #f8f4cd */
  --interface-light0: #fbf1c7; /* light0: #fbf1c7 [fg0][bg0] 229 [0] 251-241-199 250-238-187 #faeebb */
  --interface-light0-soft: #f2e5bc; /* light0_soft: #f2e5bc [s0] 228 [ ] 242-229-188 239-223-174 #efdfae */
  --interface-light1: #ebdbb2; /* light1: #ebdbb2 [fg1][bg1] 223 [15] 235-219-178 230-212-163 #e6d4a3 */
  --interface-light2: #d5c4a1; /* light2: #d5c4a1 [fg2][bg2] 250 [ ] 213-196-161 203-184-144 #cbb890 */
  --interface-light3: #bdae93; /* light3: #bdae93 [fg3][bg3] 248 [ ] 189-174-147 175-159-129 #af9f81 */
  --interface-light4: #a89988; /* light4: #a89988 */


   
}
	
	
	
	
	
	


	
	
	
	
	
	
	/*Top progress bar*/
	div.turbo-progress-bar{
		color : white !important ; 
		background-color : #FB4934 !important ;
	}
	
	
	
	
	
	
	
	
	
	/*General styles that are global */
	
	
	/*All svg icons -> select other ones with their respective selectors*/
	svg{
fill : #FB4934 !important ; 
		
	}
	
	
	
	/*Universal background*/
	body {
		background: #16181A !important  ; 
	}
	
	
	
	
	
	
	
	
	/*Top BAR  */
	
	
	
	/*Type / to search button text */
	div.overflow-hidden {
		color : #98971A !important ; 
		fill: #8EC07C !important ; 
	}
	
	
	/*Type to search bar background style*/
	/*Type to search Button background*/
    div.AppHeader-search-control{
		
		background-color : #1D2021 !important ; 
	}
	
	
	
	/*Top APp header color */
	/*Top Bar color  */
	.AppHeader .AppHeader-globalBar {

		background-color : #282828 !important ; 
	}
	
	
	/* | Bar on the right side of input area  */
	div.AppHeader-actions.position-relative::before{
	
		background-color:#98971A !important  ; 
	
	}
	
	/*Buttons on the Top bar background color */
	.AppHeader .AppHeader-button {
    background: #1D2021 !important;
}
	
	
	/*Repo and author name */
	.AppHeader{

	color:#8EC07C !important ; 
		
		/*TOP second header */
	background-color : #1D2021 !important  ;
	}
	
	/*Code . Issues , pull requests , DIscussions  , Actions   Projects */
	.UnderlineNav-item {
    background-color: #16181A !important ; ;
    border-radius: var(--borderRadius-medium, 0.375rem);
    color:#B8BB26 !important ; 
}
	
	
	/*issues tab */
	/*Code  , Pull requests , projects button icons */
	span#pull-requests-repo-tab-count, 
	
	span#projects-repo-tab-count, 
	
	span#issues-repo-tab-count
	{
		color:#FBF1C7 !important;
		background-color:#3C3836 !important ; 
	}
	
	
	
	
	
	
	
	
	
	
	
	/*Name of repo -> Third tab */
	
	
	
a.color-fg-default{
			color:#B16286 !important;
	
	}
	
	/*Public logo near the repo name  ,Privacy of the repo */
	span.Label.Label--secondary.v-align-middle.mr-1.d-none.d-md-block{
		color:#D5C4A1 !important ; 
		 background-color:#16181A !important ; 
	}
	
	/*Couldn't load subscription status-> Text */
	span.d-flex.pt-1{
			color:#D5C4A1 !important ; 
	
	}
	
	
	/*Retruy on the third tab  */
	span.Button-label{
		
		color:#FB4934 !important ;
		
	}
	
	/*Fork , Stars button and white foregrround */
	span#repo-stars-counter-star , 
	span#repo-network-counter{
		color : #F2E5BC !important  ; 
		background: #16181A !important  ; 
	}
	
	
	/*Most or all buttons */
	button{
		
		color:#B8BB26 !important ; 
	
		background-color:#16181A !important ; 
	}
	
	/*Watch Button */
	summary#repository-details-watch-button.btn-sm.btn{
		
		color:#B8BB26 !important ; 
		background-color: #16181A !important ; 
	}
	
	/*Watch button background-41 round button */
	span#repo-notifications-counter{
		background-color:#17191B !important; 
	}
	
	/*Last two buttons tabs */
	summary.btn-sm.btn.BtnGroup-item.px-2.float-none{
		background-color:#17191B !important ; 
	}
	
	/*Fork buttons*/
       a#fork-button.btn-sm.btn.BtnGroup-item {
		color:#B8BB26 !important ; 
		background-color: #16181A !important ; 
	}
	
	/*Star Button*/
	span.d-inline{
		color: #B8BB26 !important ;
	}
	
	
	
	kbd.AppHeader-search-kbd{
			color: #FE8019 !important ; 
		background-color: #1A1B1D !important ; 
		border : solid #79740E !important ; 
		border-width: 0.1px !important ;
		font-size: 90% !important ; 
		font-weight: 600 !important ; 
		padding: 0px  9px  !important ; 
	}
	
	
	
	/*T -> keyboard shortcut */
	kbd{
		color: #FE8019 !important ; 
		background-color: #16181A !important ; 
		font-size: 90% !important ; 
		font-weight: 600 !important ; 
		padding: 6px 6px  !important ; 
	}
	
	
	
	
	
	
	
	/*Fourth tab */
	
	
	/*Goo to file */
	input::placeholder {
		
		color: #79740E !important ; 
	}
	
	
	
	
	
	
	/*Side bar */
	/*About */
	/*Sponsor this project */
	
	h2.mb-3.h4{
		color : #427B58 !important ; 
	}
	
	
	/*Descriptioon for the repo */
	p.f4.my-3{
		color : #076678 !important ; 
		
	}
	
	
	/*Side bar link */
	a.text-bold{
		color : #FB4934 !important ; 
		
	}
	
	
	/*Tags for the repo */
	a.topic-tag.topic-tag-link{
		color : #EBDBB2 !important ; 
		background-color : #282828 !important ; 
	}
	
	
	/*SIde baer links  , read me  LIcense   , activity    , CUstom properties */
	a.Link--muted , 
	span.color-fg-muted{
		color : #98971A !important ; 
	}
	
	
	/*Releases side bar heading */
	a.Link--primary.no-underline.Link{
		color : #427B58 !important  ; 
	}
	
	span.Label.Label--success.flex-shrink-0{
		color : #B8BB26 !important ; 
		border : solid #B8BB26 !important ; 
		border-width: 0.1px !important; 
	}
	
	
	/*Releases page */
	span.Counter{
		color : #EBDBB2 !important ; 
			background-color : #282828 !important ; 
	}
	
	
	
	/*No packages published*/
	div.text-small.color-fg-muted{
		color  : #79740E !important ; 
	}
	
	/* releases and contributros link*/
	.Link {
    color: #FB4934  !important ; 
}
	
	
	/*Repo Languages*/
	span.color-fg-default.text-bold.mr-1{
		color : #8EC07C !important ; 
		font-weight: 500 !important ; 
		font-size: 13px !important ; 
	}
	
	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/*Files */
	/*Repo Files */
	
	
	/*Commit author name */
	a.Link__StyledLink-sc-14289xe-0.fcwTtW{
		color : #D79921 !important ; 
	}
	
	/*Top bar COmmit ->Commit descruption */
	/*repo commit -m messages*/
	a.Link--secondary {

	color: #79740E  !important ; 
	}
	
	/*Repo Relative time -commit time color */
	relative-time {

	color : #427B58 !important ; 
	}
	
	
	
	
	/*Repo Commit number */
	span.Text-sc-17v1xeu-0.UrHoN{
		color : #D3869B !important ; 
		
	}
	
	/*Issue link*/
	a.issue-link.js-issue-link{
		color :#CC241D !important ; 
	}
	
	
	/*Repo files color */
	a.Link--primary {
    color:#FE8019 !important ; 
}
	
	
	
	/*Universal style for links */
	/*Main links on any page*/
	a {
		color : #FB4934 !important ; 
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/*Readme Styles */
	
	
	
	/*Generic headings */
	/*Title of the repo */
	/*Add more Heading levels here too */
	/**/
	/**/
	/**/
	
	h2 {
		color : #FE8019 !important  ; 
	}
	
	
	
	/*STrong text */
	strong {
		color : #B8BB26 !important ; 
	}
	
	/*H3 inside markdown body */
	.markdown-body h3 {
color : #D79921 !important  ; 
}
	
	
	
	p {
		color : #F2E5BC !important ; 
	}
	
	
	/*List  , ordered and unorderes lists*/
	li , ol  , ul {
		color : #D5C4A1 !important ; 
	}
	
	
	/*List markets colors*/
	li::marker {
color : #FE8019 !important  ;
	}
	
	
	
	
	/*Inline code blocks*/
	/*INline code body */
	.markdown-body code, .markdown-body tt {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
		
    white-space: break-spaces;
		color : #B8BB26 !important ; 
    background-color: #1D2021 !important ; 
    border-radius: 6px;
}
	
	
	/*H4 heaading */
	h4{
		color : #83A598 !important ; 
	}
	
	
	
	/*Code blocks -> partial color for the block */
.markdown-body .highlight {
    background-color: #1A1B1D !important ; 
    border-radius: 8px;
}
	
	/*Code bloc*/
	.markdown-body .highlight pre, .markdown-body pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;

    background-color:#1A1B1D !important ; 
    border-radius: 6px;
}
	
	
	
	
	
	/*Code colors */
	
	/*langauge reserved keywords*/
	span.pl-k{
		color : #FB4934 !important ; 
	}
	
	/*langauge Comments keywords*/
		span.pl-c{
		color : #928374 !important ; 
	}
	
	/*NUmbers and methods */
	span.pl-c1{
		color : #FABD2F !important ; 
		
	}
	
	/*Strings in programming languages*/
	span.pl-s{
		color : #8EC07C !important  ; 
	}
	/*Arguments in programming languages*/
	span.pl-smi{
		color : #D3869B !important ; 
	}
	
	/*Quotes and other punctuation */
	span.pl-pds{
		color : #D3869B !important ; 
	}
	
	/*Applies TO non selvtable items in the code clors */
	pre{
		color : #B8BB26 !important  ; 
	}
	
	/*Chnaged colors to native gruvbox*/
	span.pl-e{
		color  :#D3869B !important  ; 
	}
	
	
	/*Sumamry */
	/*Drop down hidden section */
	details summary {
color : #E092BE !important ; 
}
	
	
	/*Quotes*/
	blockquote{
		background-color : #1D2021 !important ; 
		
	}
	
	
	
	
	
	
	
	/*Markdown Tables*/
	/*Header for table*/
	
	th{
		color : #689D6A !important ; 
		background-color : #282828 !important ; 
	}
	
	
	
	/*Conent of the table , , Td of table  */
		td{
		color : #689D6A !important ; 
		background-color : #16181A !important ; 
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	


}
